body {
    background-color: #c7d0cc;
    height: 100%;

}

#db_load {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    max-width: 290px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

#db_load {
    background-color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
}

#db_load:hover {
    background-color: rgb(75, 183, 141);
}

button {

    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    display: block;
    width: 298.4px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

button {
    background-color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
}

button:hover {
    background-color: rgb(75, 183, 141);
}

.main_title {
    border: 2px solid black;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa', sans-serif;
    font-size: 50px;
    margin-bottom: 15px;
    background-color: #b5b8b1;
    border-radius: 4px;
}

.cur_file {

    text-align: center;
    width: fit-content;
    height: fit-content;

    font-size: 30px;
}

#file {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cell {
    display: inline-block;
    border: 2px solid black;
    text-align: left;
    width: 80px;
    height: 90px;
    margin: 5px;
    padding-left: 8px;
    background-color: aliceblue;

}

.cell_id {
    margin-top: 2px;
    font-size: 16px;
    margin-bottom: 25px;

}

.cell_quantity {
    margin-top: 1px;
    margin-bottom: 1px;
}

.cell_type {
    margin-top: 1px;
    margin-bottom: 1px;
}

.cells_window {
    display: inline-block;
    width: 1122px;
    border: 2px solid black;
    background-color: #b5b8b1;
    border-radius: 4px;
}

.side_panel {
    border-radius: 4px;
    position: fixed;
    height: 440.8px;
    border: 2px solid black;
    width: 325px;
    top: 178.2px;
    right: 8px;
    z-index: 1;
    background-color: #b5b8b1;

}

.shelf {
    margin: 10px;
    background-color: #b0b0b0;
}

#config_form {
    text-align: center;
}

#height_number,
#length_number,
#shelf_number {
    margin-left: 9px;
}

label {
    font-family: Arial, Helvetica, sans-serif;

}

.cont {
    display: inline-block;
    width: 70px
}